<!DOCTYPE html>
<html lang="en">
<head>
  <title>ng SwitchCase Example!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align: center">
  <h1>Welcome to javatechie angular courses!</h1>
  <h2>Top Players</h2>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr *ngIf="players.length > 0">
      <th>Name</th>
      <th>Team</th>
      <th>DOB</th>
      <th>4 Run</th>
      <th>6 Run</th>
      <th>Others</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-secondary" *ngFor="let player of players">
      <td>{{player.name}}</td>
      <td>{{player.team}}</td>
      <td>{{player.dob}}</td>
      <td>{{player.noOf4}}</td>
      <td>{{player.noOf6}}</td>
      <td>{{player.others}}</td>
      <td>{{player.dob | age}}</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
